#hello > p {background: green;}
b + div { color: red;}
h1:hover {font-style: italic;} 
h1:first-child { color:pink;}
.a.b { border: 1px solid red;}

li:first-child:hover { color: red;}

ul[rel=hello] {background: yellow;}
ul[rel=hello] li:focus {background: pink;}

input:focus {background: pink;}